.flex {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  color: rgb(5, 5, 137);
  font-weight: bold;
}
.logo {
  text-align: left;
  padding: 30px 30px;
}

.box {
  padding: 30px 30px;
}

.flex2{
  display: contents;
  flex-direction: row;
}

.margin {
  width: 35%;
  
  margin: 70px 0 0 auto;
}

.smile {
  font-size: 50px;
}
.bluebox {
  color: rgb(5, 5, 137);

}
.parent {
  position: relative;
}
.abs1 {
  position: absolute;
  z-index: 10;
}

.abs2{
  position: absolute;
  z-index: 0;
}

.abs3{
  position: absolute;
  z-index: -10;
}